/* @charset "UTF-8"; */ 
 
html {
    scroll-behavior: smooth;
}

body {
    /* background: linear-gradient(to top right, transparent, rgba(128, 128, 128, 0.414)); */
}

* {
   /*  border: solid 1px red; */
    list-style: none;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    padding: 0 ;
    margin: 0 ;
} 

:root {
    --main-color1: #FFFFFF; 
    --main-color: #216869;
    --main-color3: #49A078;
    --main-color4: #9CC5A1;
    --main-color5: #1F2421;
    --main-color6: #F2F2F2;
    --pane-padding: 5px 42px;
}

section {
    min-height: 80vh;
/*     max-width: 1500px; */
    margin: 0 auto;
    padding-top: 150px;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 10;
    background: white;
    border-bottom: solid 1px rgba(0, 0, 0, 0.096);
    padding: 10px;
}

/* HEADER */
.logo-link img {
    width: 80px;
}

.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.25rem;
    margin-left: 6rem;
    margin-right: 6rem;
}

.sticky {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.nav-list {
    display: flex;
    gap: 5rem;
}

.nav-list a {
    font-size: var(--p-font);
    color: black;
    font-weight: 500;
    padding: 10px 20px;
}

.nav-link {
    font-weight: 500;
    text-decoration: none;
    position: relative; 
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 0.16rem;
    bottom: 9px;
    left: 0;
    background-color: var(--main-color);
    transition: width ease 0.50s;
}

.nav-link:hover::after {
    width: 100%;
}

.nav-link.active::after {
    width: 100%;
}

.button-group {
    display: flex;
    gap: 20px;
}

.button1 {
    background-color: transparent;
    color: var(--main-color);
    font-weight: bold;
    font-size: 16px;
    padding: 8px 16px;
    border: 2px solid var(--main-color);
    border-radius: 1rem;
}

.button1:hover {
    background-color: var(--main-color);
    color: white;
    border-color: transparent;
}

.button2 {
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    font-size: 16px;
    padding: 8px 16px;
    border: 2px solid var(--main-color);
    border-radius: 1rem;
}

button {
    transition: ease .50s;
}

button:hover {
    transform: scale(1.2)
}

/* HOME */
#home-sec {
    margin-left: 20vh;
    margin-top: 10vh;
    background-image: url('../images/Hotell3.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}

.content-box {
    width: 50%;
}

/* .image-box {
    display: flex;
    align-items: center;
    justify-content: center;
} */

.image-box img {
    width: 50%;
}

#espaço{
    height: 82px;
}

/*estilização da mensagem da importancia de reciclar*/
.msg-recicle {
 background-color: #216869;  
 margin: 15px 0px 15px 0px;
/*  margin-top:; */
}

.eco {

    padding: 20px;
    display: flex;
    text-align: center;
    align-items: center;
    color: white;
    padding-bottom: 0px;
}

.text-recicle {
    text-align: center;
    color: white;
    padding: 50px;
    padding-top: 0px;
}

/* MISSION */


.container-box{
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    gap: 100px;
}

.container-box-img{
    width: 40%;
    background-image: url(../img/Rectangle\ 23\ \(1\).png);
    background-position:right;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.container-box-p{
    width: 30%;
    text-align: left;
    color: #545454;
}

.container-box-p h2{
    font-weight: 400;
    margin-bottom: 30px;
    font-family: 'Times New Roman', Times, serif;
}

.barra{
    width: 95px;
    height: 10px;
    border: 2px solid  #216869;
    background-color: var(--main-color2);
}

.button-main{
    padding: 10px;
    background-color: var(--main-color2);
    color: #F2F2F2;
    border-radius: 10px;
    margin-top: 30px;
    border: none;
    cursor: pointer;
}

.button-main:hover {
    background-color:  #103031;
}
 
/*valores*/
.container-box {
    display: flex;
}
.valores-text {
    width: 50%;
    padding-left: 200px;
    color: #545454;
}

.valores-img {
    width: 50%;
}
.valores-text h2 {
    margin-bottom: 30px;
}

 /*sobre nós*/

 .sobnos {
display: flex;
background-color: #49A078;
padding: 100px;
padding-bottom: 20px;
margin-top: 15px;
margin-bottom: 15px;
 }
 .sobrenos {
padding-left: 100px;
color: #1F2421; ;
 }
 .sobrenos-img {
margin-bottom: 70px;
margin-left: 150px;
 }
 .sobrenos > h1 {
    text-align: center;
    padding-bottom: 50px;
    padding-top: 50px;
 }

 /*footer*/

 .footerg {
    background-color: #1F2421;
 }
 .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #216869;
 }
 .linha-footer {
border: 1px solid #216869;
 }
 .nav nav ul{
    display: flex;
    gap: 41px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 22px;
    align-items: center;
    padding-left: 100px;
 }
 .nav nav ul li a {
    color: #216869;
 }
 .imgs {
    display: flex;
    justify-content: end;
    align-items: center;
    padding-left: 600px;
    gap: 50px;
 }
 .fim {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: #545454;
    margin-top: 60px;
 }
