/* @charset "UTF-8"; */ 
 
html {
    scroll-behavior: smooth;
}

body {
    /* background: linear-gradient(to top right, transparent, rgba(128, 128, 128, 0.414)); */
   
}

* {
   /*  border: solid 1px red; */
    list-style: none;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    padding: 0 ;
    margin: 0 ;
} 

:root {
    --main-color1: #FFFFFF; 
    --main-color: #216869;
    --main-color3: #49A078;
    --main-color4: #9CC5A1;
    --main-color5: #1F2421;
    --main-color6: #F2F2F2;
    --pane-padding: 5px 42px;
    --p-font: 1.2rem;
    --title-font: 2.5rem;
}

section {
    min-height: 80vh;
/*     max-width: 1500px; */
    margin: 0 auto;
    padding-top: 150px;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 10;
    background: white;
    border-bottom: solid 1px rgba(0, 0, 0, 0.096);
    padding: 10px;
}


span {
    font-weight: bold;
    color: var(--main-color);
}

span2 {
    font-weight: bold;
    color: var(--main-color3);
}

/* HEADER */
.logo-link img {
    width: 80px;
}

.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.25rem;
    margin-left: 6rem;
    margin-right: 6rem;
}

.sticky {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.nav-list {
    display: flex;
    gap: 5rem;
}

.nav-list a {
    font-size: var(--p-font);
    color: black;
    font-weight: 500;
    padding: 10px 20px;
}

.nav-link {
    font-weight: 500;
    text-decoration: none;
    position: relative; 
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 0.16rem;
    bottom: 9px;
    left: 0;
    background-color: var(--main-color);
    transition: width ease 0.50s;
}

.nav-link:hover::after {
    width: 100%;
}

.nav-link.active::after {
    width: 100%;
}

.button-group {
    display: flex;
    gap: 20px;
}

.button1 {
    background-color: transparent;
    color: var(--main-color);
    font-weight: bold;
    font-size: 16px;
    padding: 8px 16px;
    border: 2px solid var(--main-color);
    border-radius: 1rem;
}

.button1:hover {
    background-color: var(--main-color);
    color: white;
    border-color: transparent;
}

.button2 {
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    font-size: 16px;
    padding: 8px 16px;
    border: 2px solid var(--main-color);
    border-radius: 1rem;
}

button {
    cursor: pointer;
    transition: ease .50s;
}

button:hover {
    transform: scale(1.2)
}

/* HOME */
#home-sec {
    /* margin-left: 20vh; */
    
    background-image: url('../images/Hotell3.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}

.content-box {
    width: 50%;
    margin-left: 8vw;
    display: flex;
    flex-direction: column;
}

.content-box h1 {
    font-size: var(--title-font);
}

.img-box {
    display: flex;
    margin-top: 5%;
    gap: 50px;
}

.img-box img {
    max-width: 18%;
    height: auto;
}

.title {
    margin-bottom: 24px;
    font-size: var(--title-font);
    font-weight: 900;
    color: #313131;
    text-align: center;
    position: relative;
}

/* Adicione o efeito subilinhado */
.title::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50%;
    height: 5px;
    background: var(--main-color);
}

/* Turismo */
#turism-sec {
    max-width: 1500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.text-content {
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: flex-start;
    text-align: justify;
    padding-left: 20px;
}

.list {
    list-style-type: none;
    padding: 0;
    position: relative;
}

.list li {
    margin-bottom: 10px;
    padding-left: 1.5em;
    position: relative;
}

.list li::before {
    content: '\2022';
    color: var(--main-color);
    font-size: 1.2em;
    position: absolute;
    left: 0;
}

.list::before {
    content: '';
    display: block;
    border-left: 2px solid var(--main-color);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0.15em; 
}

.image-content {
    margin-left: auto;
    margin-right: auto;
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "img1 ."
      ". img2"; 
}
.img1 { grid-area: img1; }
.img2 { grid-area: img2; }

.image-content img {
    max-width: 100%;
    height: auto;
}

/* Proposta */
#proposta {
    max-width: 1500px;
}

#proposta img {
    width: 50%;
}

/* .image-box {
    display: flex;
    align-items: center;
    justify-content: center;
} */

    .image-box img {
        width: 50%;
    }

    #espaço{
        height: 82px;
}

/*estilização da mensagem da importancia de reciclar*/
.msg-recicle {
    background-color: #216869;  
    margin: 15px 0px 15px 0px;
/*  margin-top:; */
}

    .eco {

        padding: 20px;
        display: flex;
        text-align: center;
        align-items: center;
        color: white;
        padding-bottom: 0px;
    }

    .text-recicle {
        text-align: center;
        color: white;
        padding: 50px;
        padding-top: 0px;
    }

/* MISSION */


    .container-box{
        display: flex;
        height: 100vh;
        width: 100%;
        justify-content: center;
        align-items: center;
        background-color: #F2F2F2;
        gap: 100px;
        padding: 0;
    }

    .container-box-img{
        width: 40%;
        background-image: url('../img/Rectangle\ 23\ \(1\).png');
        background-position:right;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
    }

    .container-box-p{
        width: 30%;
        text-align: left;
        color: #545454;
    }

    .container-box-p h2{
        font-weight: 400;
        margin-bottom: 30px;
        font-family: 'Times New Roman', Times, serif;
        font-size: 26px;
    }

    .barra{
        width: 95px;
        height: 10px;
        border: 2px solid  #216869;
        background-color: #216869;
    }

    .button-main{
        padding: 10px;
        background-color: var(--main-color2);
        color: #F2F2F2;
        border-radius: 10px;
        margin-top: 30px;
        border: none;
        cursor: pointer;
    }

    .button-main:hover {
        background-color:  #103031;
    }
 
/*valores*/
    .container-box {
        display: flex;
        padding: 0;
    }
    .valores-text {
        width: 50%;
        padding-left: 200px;
        color: #545454;
    }

    .valores-img {
        width: 50%;
    }
    .valores-text h2 {
        font-weight: 400;
        margin-bottom: 30px;
        font-family: 'Times New Roman', Times, serif;
        font-size: 26px;
    }

    .button-milhas{
        padding: 6px 20px;
        background-color: var(--main-color);
        border: none;
        color: var(--main-color1);
        text-transform: uppercase;
        border-radius: 5px;
        margin-top: 20px;
        font-weight: 600;
        font-family: Arial, Helvetica, sans-serif;
    }

/*sobre nós*/

#about-sec {
    max-width: 1500px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container {
    width: 60%;
    text-align: justify;
}

.about-nav {
    display: flex;
    gap: 5rem;
    padding: 1%;
}

.about-nav a {
    font-size: var(--p-font);
    color: black;
    font-weight: 500;
    padding: 10px 20px;
}

.container-content {
    margin-top: 1%;
    text-align: justify;
    width: 450px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    border: 2px solid var(--main-color);
    border-radius: 50px;
    transition: all 0.3s ease;
}

.container-content:hover {
    transform: scale(1.05);
}
/*    #about-sec{
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     padding: 0;
     
     width: 100%;
     gap: 50px;
     background-color: #F2F2F2;
     height: 100vh;
   } */
   
    .sobrenos-img{
      width: 60%;
      display: flex;
      justify-content: center;
    }
   .sobrenos{
    width: 40%;
    display: flex;
    flex-direction: column;
   }

   .sobrenos h1{
    font-weight: 400;
    margin-bottom: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 26px;
   }

   .sobrenos h3{
        width: 70%;
        text-align: left;
        color: #545454;
   }

/* Footer */
footer {
    display: flex;
    background-color: var(--main-color);
    padding: 20px;
    text-align: center;
    min-height: 50vh;
    margin: 0 auto;
    padding-top: 150px;
    flex-direction: column;
    align-items: center;
}

.logo-container {
    position: relative;
    margin-bottom: 20px;
}

.logo {
    max-width: 100px;
    margin-bottom: 10px;
    position: relative;
    z-index: 1;
}

.email-input {
    width: 200px;
    padding: 10px;
    margin-right: 10px;
}

.send-button {
    padding: 10px;
    background-color: #fff;
    color: var(--main-color); 
    border: none;
    cursor: pointer;
}

.copyright {
    margin-top: 20px;
    color: #c91616;
}
#acessibilidade {
    top: 50%;
    right: 15px;
    position: fixed;
    border: 0;
    border-radius: 100%;
    display: grid;
    place-items: center;
    background-color: #9CC5A1;

}
.sec-ace {
    min-height: 0vh;
    padding: 0px;
    
}