@charset "UTF-8"; 
   
*{
    font-family: "Open Sans", sans-serif;
    padding: 0 ;
    margin: 0 ;
} 

:root {
    --main-color1: #FFFFFF; 
    --main-color2: #216869;
    --main-color3: #49A078;
    --main-color4: #9CC5A1;
    --main-color5: #1F2421;
    --main-color6: #F2F2F2;
    --pane-padding: 5px 42px;
  }


.container-header {
  display: flex;
  justify-content: space-around;  
  align-items: center; 
  background-color: var(--main-color1 );
  width: 100%;
  height: 70px;
 
}

#title-soon{
    color: var(--main-color2);
    text-transform: uppercase;
    margin-left: 5px;
    font-size: 20px;
}


.menu-links{
    display: flex;
    gap: 15px;  
    list-style: none;  
}

.menu-links li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #216869;
    font-family: 'Times New Roman', Times, serif;
}

.logo {
    display: flex;
    align-items: center;

}



#banner-main{
    background-image: url(../img/Hotel.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: calc(100vh - 70px);
    background-position: right;
}
#banner-text-main {
   
}

/*estilização da mensagem da importancia de reciclar*/
#msg-recicle {
 background-color: #216869;  
 margin-top:;
}
#eco {
    padding: 20px;
    display: flex;
    text-align: center;
    align-items: center;
    color: white;
    padding-bottom: 0px;
}
#text-recicle {
text-align: center;
color: white;
padding: 50px;
padding-top: 0px;
}

/*missão*/
#mission {
    display: flex;
}
#text-mission {
   background-color: #F2F2F2;
   align-items: center;
   padding-left: 10px;
   padding-top: 150px;
}
#text-mission > p {
    padding-top: 20px;
}


