@charset "UTF-8"; 

html {
    scroll-behavior: smooth;
}

* {
   /*  border: solid 1px red; */
    list-style: none;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    padding: 0 ;
    margin: 0 ;
} 

:root {
    --main-color1: #FFFFFF; 
    --main-color2: #216869;
    --main-color3: #49A078;
    --main-color4: #9CC5A1;
    --main-color5: #1F2421;
    --main-color6: #F2F2F2;
    --pane-padding: 5px 42px;
}


header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 10;
    background: white;
    border-bottom: solid 1px rgba(0, 0, 0, 0.096);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-box{
    display: flex;
    flex-direction: column;
    margin-left: 92px;
}


/* HEADER */

.container-header {
    display: flex;
    justify-content:space-between;  
    width: 90%;
    align-items: center; 
}

.logo img {
    width: 60px;
    height: auto;
}

.menu{
    align-items: center;
    width: 17%;
}







/* #title-soon{
    color: var(--main-color2);
    text-transform: uppercase;
    margin-left: 5px;
    font-size: 20px;
} */



.button-group {
    display: flex;
    gap: 20px;
    margin-left: 15px;
}

.btn {
    background: transparent;
    font-size: 16px;
    padding: 8px 16px;
    border: 2px solid var(--main-color3);
    border-radius: 1rem;
    cursor: pointer;
    transition: ease .50s;
}

.btn:hover {
    transform: scale(1.1);
}

.entrar:hover {
    color: white;
    background: var(--main-color3);
    border-color: transparent;
}

.cadastrar {
    background: var(--main-color3);
    color: white;
}

/* HOME */

#espaço{
    height: 82px;
}

#banner-main{

    background-image: url(../img/Hotell3.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh ;
    background-position: right;
    align-content: center;
}
/* #banner-text-main {
   
} */

/*estilização da mensagem da importancia de reciclar*/
.msg-recicle {
 background-color: #216869;  
 margin: 15px 0px 15px 0px;
/*  margin-top:; */
}

.eco {

    padding: 20px;
    display: flex;
    text-align: center;
    align-items: center;
    color: white;
    padding-bottom: 0px;
}

.text-recicle {
    text-align: center;
    color: white;
    padding: 50px;
    padding-top: 0px;
}

/* MISSION */


.container-box{
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    gap: 100px;
 }

 .container-box-img{
    width: 40%;
    background-image: url(../img/Rectangle\ 23\ \(1\).png);
    background-position:right;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
 }

 .container-box-p{
    width: 30%;
    text-align: left;
    color: #545454;

 }

 .container-box-p h2{
    font-weight: 400;
    margin-bottom: 30px;
    font-family: 'Times New Roman', Times, serif;
 }

 .barra{
    width: 95px;
    height: 10px;
    border: 2px solid  #216869;
    background-color: var(--main-color2);
 }

 .button-main{
    padding: 10px;
    background-color: var(--main-color2);
    color: #F2F2F2;
    border-radius: 10px;
    margin-top: 30px;
    border: none;
    cursor: pointer;
 }
 .button-main:hover {
    background-color:  #103031;
 }
 /*valores*/
 .container-box {
    display: flex;
 }
 .valores-text {
width: 50%;
padding-left: 200px;
color: #545454;
}

 .valores-img {
    width: 50%;
 }
 .valores-text h2 {
    margin-bottom: 30px;
 }

 /*sobre nós*/

 .sobnos {
display: flex;
background-color: #49A078;
padding: 100px;
padding-bottom: 20px;
 }
 .sobrenos {
padding-left: 100px;
color: #1F2421; ;
 }
 .sobrenos-img {
margin-bottom: 70px;
margin-left: 150px;
 }
 .sobrenos > h1 {
    text-align: center;
    padding-bottom: 50px;
    padding-top: 50px;
 }
